<br>
<hr>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 80px;" src="https://assets.ajio.com/cms/AJIO/WEB/1440x128%20%20vvvv.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item active">
      <img style="height: 80px;" src="https://assets.ajio.com/cms/AJIO/WEB/1440x128%20copyfff.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item active">
      <img style="height: 80px;" src="https://assets.ajio.com/cms/AJIO/WEB/1440x128fff.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item active">
      <img style="height: 80px;" src="https://assets.ajio.com/cms/AJIO/WEB/1440x128-Paytm.jpg" class="d-block w-100"
        alt="...">
    </div>

  </div>
</div>

<hr style="color: #0e0e0e;">
<div style="width: 1200px; color: rgb(0, 0, 0); margin-left: 180px;">
  <p><b>E_buy APP</b></p>
  <span style="font-size: smaller; padding: 10px;">E_buy, India’s no. 1 online fashion destination justifies its fashion
    relevance by bringing something new and chic to the table on the daily. Fashion trends seem to change at lightning
    speed, yet the Myntra shopping app has managed to keep up without any hiccups. In addition, Myntra has vowed to
    serve customers to the best of its ability by introducing its first-ever loyalty program, The Myntra Insider. Gain
    access to priority delivery, early sales,
    lucrative deals and other special perks on all your shopping with the E_buy app. Download the Myntra app on your
    Android or IOS device today and experience shopping like never before!</span>
  <br>
  <br>
  <p><b>HISTORY OF E_buy</b></p>
  <span style="font-size: smaller; padding: 10px;">Becoming India’s no. 1 fashion destination is not an easy feat.
    Sincere efforts, digital enhancements and a team of dedicated personnel with an equally loyal customer base have
    made E_buy the online platform that it is today. The original B2B venture for personalized gifts was conceived in
    2007 but transitioned into a full-fledged ecommerce giant within a span of just a few years. By 2012, E_buy had
    introduced 350 Indian and international brands to its platform, and this has only grown in number each passing year.
    Today E_buy sits on top of the online fashion game with an astounding social media following, a loyalty program
    dedicated to its customers, and tempting, hard-to-say-no-to deals.
    The E_buy shopping app came into existence in the year 2015 to further encourage customers’ shopping sprees.
    Download the app on your Android or IOS device this very minute to experience fashion like never before</span>
  <br>
  <br>
  <p><b>SHOP ONLINE AT E_Buy WITH COMPLETE CONVENIENCE</b></p>
  <span style="font-size: smaller; padding: 10px;">Another reason why E_Buy is the best of all online stores is the
    complete convenience that it offers. You can view your favourite brands with price options for different products in
    one place. A user-friendly interface will guide you through your selection process. Comprehensive size charts,
    product information and high-resolution images help you make the best buying decisions. You also have the freedom to
    choose your payment options, be it card or cash-on-delivery. The 30-day returns policy gives you more power as a
    buyer. Additionally, the try-and-buy option for select products takes customer-friendliness to the next level.
    Enjoy the hassle-free experience as you shop comfortably from your home or your workplace. You can also shop for
    your friends, family and loved-ones and avail our gift services for special occasions.</span>
</div>


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4" style="background-color: #303030">
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section style="width: 100%;" class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">E_buy</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #ededef; height: 2px" />
            <p>
              E_buy, India’s no. 1 online fashion destination justifies its fashion relevance by bringing something new
              and chic to the table on the daily.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-1 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #e3e3e3; height: 2px" />
            <p>
              <a href="products/mens" class="text-white">Men's</a>
            </p>
            <p>
              <a href="products/womens" class="text-white">Women's</a>
            </p>
            <p>
              <a href="products/shoes" class="text-white">Unisex</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #6d6d6e; height: 2px" />
            <p>
              <a href="#!" class="text-white">Cart</a>
            </p>
            <p>
              <a href="#!" class="text-white">WishList</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-home mr-3"></i> New Delhi, NY 10012, India</p>
            <p><i class="fas fa-envelope mr-3"></i> Ebuy@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="">E_buy.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->
