
<br>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-center" data-bs-interval="10000">
      <p><b>20 Dec - 25 Dec: Members’ First Look
          Get first dibs on all the freshest styles, exclusively on the E-buy App. Download</b></p>
    </div>
    <div class="carousel-item text-center" data-bs-interval="2000">
      <p><b>Save Up to 40%
          Shop All Our New Markdowns</b></p>
    </div>
    <div class="carousel-item text-center">
      <p><b>Download the app to access everything E-buy Get Your Great</b></p>
    </div>
  </div>
</div>
<div style="width: 100%; height: 686px;" id="carouselExampleSlidesOnly" class="carousel slide text-center"
  data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_1423,c_limit/e79a6758-f097-414c-859b-fbdcc79cc1b2/jordan-sport.jpg"
        class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div style="height: 250px;" class="carousel-item active">
      <img src="https://wallpaperaccess.com/full/1560881.png" class="d-block w-100" alt="...">
      <div>
        <div class="carousel-caption d-none d-md-block"><br>
          <p style="margin-top: -120px;  margin-left: 450px; position: absolute;">Limited Time Only</p><br>
          <h2 style="margin-top: -90px;margin-left: 380px; position: absolute;">UP TO 30% OFF <br>SELECTED STYLES </h2>
          <br>
          <a href="products/shoes" style="margin-top: -20px; margin-left: -80px; position: absolute;" type="button"
            class="btn btn-light btn-lg"><b>Shop Now -></b></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/d-uhp-Kids-header.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<h3 style="margin-left: 110px;"><b><br>
    NEW ARRIVALS</b></h3><br>
<div class="container">
  <div class="row">
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 40rem;">
      <img
        src="https://brand.assets.reebok.com/image/upload/f_auto,q_auto,fl_lossy/reebok_enUS/Images/22FW_Holiday_StockingStuffers_FD_Teaser-Carousel_tcm274-939471.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Cardi B Club C V2 Women's Wear.</p>
      </div>
    </div>
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 40rem;">
      <img height="635px"
        src="https://brand.assets.reebok.com/image/upload/f_auto,q_auto,fl_lossy/reebok_enUS/Images/22FW_Holiday_Visual-Navigation_DT-1_tcm274-949005.jpg"
        class="card-img-top" alt="...">
      <div class="card-body"><br>
        <p class="card-text">Trending picks chosen with her in mind.


          Shop the Gift List <br>

          Stocking Stuffers <br>

          Because even the smallest of gifts bring joy.
        </p>
      </div>
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/D-sponsorbrands-header111.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div (click)="go()" id="item-hood" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/25122022-UHP-D-TopBanner-P2-Puma-Min50.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/25122022-UHP-D-Sponsor-P5-Nike-UpTo50.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/25122022-UHP-D-SponsorBanner-P3-Levis-Flat50Extra10.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/d-uhp-gotobrands-header.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div><br>
<h3 style="margin-left: 110px; margin-bottom: 10px;"><b>GET IN THE SPIRIT</b></h3>
<div class="container">
  <div class="row">
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/w_600,f_auto,q_auto/418d5e8f74814077a818ae9a012b2daa_9366/Cardi_B_Club_C_V2_Women's_Shoes_Green_GY7213_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Cardi B Club C V2 Women's Shoes.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/w_600,f_auto,q_auto/df91732ad1d947d6b538ae9e010693e8_9366/Street_Fighter_Shaq_Attaq_Basketball_Shoes_Black_HR0603_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Street Fighter Shaq Attaq Shoes.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/w_600,f_auto,q_auto/52eeaa5c96f0409697aaae9a010f8a21_9366/Cardi_B_Club_C_V2_Women's_Shoes_Beige_GW6697_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Cardi B Club C1 V2 Women's Shoes.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/w_600,f_auto,q_auto/c79f71a7d96641c694a7ae9f010436ff_9366/Street_Fighter_Club_C_85_Men's_Shoes_Grey_GZ9543_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Street Fighter Club C 85 Men's Shoes.</p>
      </div>
    </div>
    <br>
    <div style="width: 100%;" id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/d-uhp-boldeststyles-header.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <br>
    </div>
    <h4 class="mb-3"><b>BEST OF REEBOK</b></h4>
    <div (click)="mens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/37dfd40ad283433aaed3aeb000f59c33_9366/DC_x_Reebok_Supermantm_Hoodie_Grey_IB5818_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">DC x Reebok Superman™ Hoodie.</p>
      </div>
    </div>
    <div (click)="mens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/fc6dd615e5ad416e9021addd00ff01d5_9366/Reebok_Identity_Fleece_Zip-Up_Hoodie_Black_HG4450_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Identity Fleece Zip-Up Hoodie.</p>
      </div>
    </div>
    <div (click)="mens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/467dca8f61184d0d8633ae9700a33285_9366/Reebok_Identity_Fleece_Hoodie_Yellow_HJ9971_02_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Identity Fleece Hoodie.</p>
      </div>
    </div>
    
    <div (click)="mens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d3565ed4d2d34250a62dad1101049419_9366/Reebok_Identity_Fleece_Crew_Sweatshirt_Grey_GS1619_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Identity Fleece Crew.</p>
      </div>
    </div>
    <div style="width: 100%;" id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/d-uhp-classicbrands-header.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <br>
    </div>
    <h4 class="mb-3"><b>BEST OF REEBOK</b></h4>
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/00ac1912fe93499ab5d1af0e0100735c_9366/Reebok_Identity_T-Shirt_Turquoise_HI0541_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Identity T-Shirt.</p>
      </div>
    </div>
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9027c8cc617243c68112ade1012e83c3_9366/Reebok_Identity_T-Shirt_Grey_HB2272_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Identity T-Shirt.</p>
      </div>
    </div>
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7c46280b0e7c41189628af0a017b84e4_9366/Reebok_Classics_Long-Sleeve_Shirt_Black_HT7840_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Classics Long-Sleeve Shirt.</p>
      </div>
    </div>
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.reebok.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a409fc8544c4445e98c0ad1a01300343_9366/Reebok_Classics_Natural_Dye_T-Shirt_Pink_H11210_01_standard.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Reebok Classics Natural Dye.</p>
      </div>
    </div>
    
  </div>
  <div style="width: 100%;" id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/d-uhp-jit-header.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <br>
  </div>
  <br>
  <h4 class="mb-3"><b>BEST OF NIKE</b></h4>
  <div class="row">
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/w_467,c_limit/44c7d116-ae35-4a39-b1eb-47d6a699c7c3/dunk-low-retro-shoes-9L8Z5s.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low Retro Premium.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/w_467,c_limit/0f3036cb-8b5b-4adb-998f-9c732d5818cb/dunk-low-shoes-w37m3B.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/w_467,c_limit/f9c0a331-7ca3-48c3-b241-16b54e07d80d/dunk-low-disrupt-2-shoes-rmbZnK.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low Disrupt 2.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/w_467,c_limit/dfca22de-c114-4992-bf9b-03f122b2a4bf/dunk-low-retro-shoes-mB3d0z.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low Retro Premium.</p>
      </div>
    </div>
  </div>

  <div style="width: 100%;" id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/d-uhp-bestsellers-header.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <br>
  </div>
  
  <h4 class="mb-3"><b>BEST OF ADIDAS</b></h4>
  <div class="row">
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/31c4f0f393ce4acd8601af17005a6a3a_9366/stan-smith-lux-shoes.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low Retro Premium.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/21a97914e6844072be20af170059cfba_9366/stan-smith-lux-shoes.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/2808539c9b2342d581d5af1700593efb_9366/stan-smith-lux-shoes.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low Disrupt 2.</p>
      </div>
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 20rem;">
      <img
        src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/5554226f7c9d4d1a82aeadfa01367d2d_9366/astir-shoes.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nike Dunk Low Retro Premium.</p>
      </div>
    </div>
  </div>
  


</div>
<div style="width: 100%;" id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_1423,c_limit/0c977da3-96bd-4436-bd45-5f5d85cc2b6f/women-s-shoes-clothing-accessories.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <br>
</div>
<br>
<h4 style="margin-left: 112px; margin-bottom: 15px;" ><b>WHO ARE YOU SHOPPING FOR?</b></h4>
<div class="container">
  <div class="row">
    <div (click)="mens()" id="item-hood" class="card border-0" style="width: 25rem;">
      <img
        src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_467,c_limit/b47f5049-1b86-4642-b50c-310ce59b5940/nike-just-do-it.png"
        class="card-img-top" alt="...">
      
    </div>
    <div (click)="womens()" id="item-hood" class="card border-0" style="width: 25rem;">
      <img height="400px"
        src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_467,c_limit/cb91797a-6054-4201-8bee-c08700c83e47/nike-just-do-it.png"
        class="card-img-top" alt="...">
    </div>
    <div (click)="shoe()" id="item-hood" class="card border-0" style="width: 25rem;">
      <img
        src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_467,c_limit/44c84aa3-702f-49fd-80e0-a74258b9b0b6/nike-just-do-it.png"
        class="card-img-top" alt="...">
    </div>
  </div>
</div>
  
